
   <img class="author" src="/images/author.jpg">

   
   <div class="info-author">
       <h2>Gonzalo Espinosa</h2>
       Front-end web developer (<a href="http://pixelis.es" target=_new>http://pixelis.es</a>)
       <br>
       Práctica 6 MOOC: <i>Desarrollo de servicios en la nube con HTML5, Javascript y node.js</i>
       <br>
        The MIT License (MIT)
        Copyright (c) 2015 by Gonzalo Espinosa, 
        <br>Basado en el código original de <a href="https://github.com/jquemada" target=_new>Juan Quemada</a> (UPM)
        
   </div>
   
        

