<!DOCTYPE html>
<html>
  <head>
       
        <meta charset="utf-8"/>
        <title>Quiz: El juego de las preguntas</title>
        <link rel="icon" href="../public/favicon.ico" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href='/stylesheets/style.css' />
  
  </head>
  
  <body>
     
        <div id="page-wrap">
   
              
               <header class="main" id="h1">
                       <h2>
                           <i class="fa fa-rocket"></i>&nbsp;
                           <b>Quiz</b> &nbsp;<span>el juego de las preguntas</span>
                       </h2>
               </header>
               
               
               <nav class="main" id="n1" role="navigation">
                   <span>
                          <a href="/"><i class="fa fa-list-ul"></i>&nbsp;&nbsp;&nbsp;&nbsp; Inicio</a>
                    </span>
                    
                   <span>
                          <a href="/quizes"><i class="fa fa-list-ul"></i>&nbsp;&nbsp;&nbsp;&nbsp; Ver preguntas</a>
                   </span>
                   
                   <span>
                          <a href="/author/"><i class="fa fa-list-ul"></i>&nbsp;&nbsp;&nbsp;&nbsp; Créditos</a>
                   </span>
                   
               </nav>
               
               
               <section class="main" id="s1">
                   <%- body %>
               </section>
               
               
               
               <footer class="main" id="f1">
                   <i id="responsive" class="fa fa-expand"></i>
                   <a href="https://es.wikipedia.org/wiki/Quiz" target="_new">¿Que es un Quiz?</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;
                App alojada en <i class="fa fa-github"></i>&nbsp;<a href="https://github.com/GonzaloEsLa/proyecto-quiz-I" target="_new">GitHub</a><br>
               </footer>
               
                   

        </div>
        
   </body>
</html>
