<!DOCTYPE html>
<html>
  <head>
        <meta charset="utf-8">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="icon" href="../public/favicon.ico" type="image/x-icon" />
  </head>
  
  <body>
   
        <p><%= respuesta %></p>
        <a href="/quizes/question/">Intetarlo otra vez</a>
     

   </body>
</html>
