
<form method="get" action="/quizes">
        
            <input type="text" name="search" placeholder="Buscar pregunta ..."/>
            <input  type="submit" value="Buscar">
</form>
   

<br>
    
     
<table>
     
       <!-- mostramos la lista de preguntas disponibles -->
      <% var i; for (i=0; i < quizes.length; i++){ %>
           
           <tr>
            
                <td>  
                      <i class="fa fa-angle-double-right" style="margin-right:20px;"></i>
                      <a href="quizes/<%= quizes[i].id %>">   <%= quizes[i].pregunta %>  </a>
                </td>
               
           </tr>
           
      <% } %>
      
</table>

