
    <form method="get" action="/quizes/<%= quiz.id %>/answer">
           
            <b>Pregunta:</b> &nbsp;&nbsp; ¿<%= quiz.pregunta %>?
            <br>
            
            <input type="text" name="respuesta" placeholder="¿Cual es la respuesta? ..."/>
            <input type="submit" value="Enviar">
    </form>

